---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background: 
    /* top, transparent black to blue, faked with gradient */ 
    linear-gradient(
      rgba(0, 2, 10, .55), 
      rgba(0, 2, 80, 0.45)
    ),
    /* bottom, image */
    url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');  background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;  ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                    <span class="meta" style="margin-top:5px;">[DISCLAIMER: All posts are raw thoughts. Spelling, punctuation, and sense is not guaranteed.]</span>
                    
                </div>
            </div>
        </div>
    </div>
</header>

<div class="ssb ssb-fixed-l" id="example2">
			<!-- Twitter -->
                    <a href="http://twitter.com/home?status=Check out: '{{ page.title }}: {{ page.subtitle }}' @ {{ page.url | prepend: site.url }} %23dreamcatcher95" title="Share on Twitter" target="_blank" class="btn btn-twitter btn-default"><i class="fa fa-twitter"></i> Twitter</a>
                     <!-- Facebook -->
                    <a href="http://www.facebook.com/sharer.php?s=100&p[url]={{ page.url | prepend: site.url }}&p[images][0]={{page.header-img}}&p[title]={{page.title}}&p[summary]={{page.subtitle}}" title="Share on Facebook" target="_blank" class="btn btn-facebook btn-default"><i class="fa fa-facebook"></i> Facebook</a>
                    <!-- Google+ -->
                    <a href="https://plus.google.com/share?url={{page.url | prepend: site.url}}" title="Share on Google+" target="_blank" class="btn btn-googleplus btn-default"><i class="fa fa-google-plus"></i> Google+</a>
                    <!-- StumbleUpon -->
                    <a href="http://www.stumbleupon.com/badge?url={{ page.url | prepend: site.url }}&title={{ page.title }}&nsfw=0" title="Share on StumbleUpon" target="_blank" data-placement="top" class="btn btn-stumbleupon btn-default"><i class="fa fa-stumbleupon"></i> Stumbleupon</a>
                    <!-- LinkedIn -->
			<a href="http://www.linkedin.com/shareArticle?url={{page.url |prepend:site.url}}&title={{page.title}}: {{page.subtitle}}" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin btn-default"><i class="fa fa-linkedin"></i> LinkedIn</a>
                    <!-- Tumblr -->
			<a href="http://www.tumblr.com/share/link?url={{ page.url | prepend: site.url }}&name={{page.title}}&description={{page.subtitle}}" title="Share on Tumblr" target="_blank" class="btn btn-tumblr btn-default"><i class="fa fa-tumblr"></i> Tumblr</a>
                    <!-- Pinterest -->
			<a href="https://pinterest.com/pin/create/bookmarklet/?media={{page.header-img| prepend: site.url}}&url={{ page.url | prepend: site.url }}&description={{page.title}}: {{page.subtitle}}" title="Share on Pinterest" target="_blank" class="btn btn-pinterest btn-default"><i class="fa fa-pinterest"></i> Pinterest</a>
		</div>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}
                <div id="share">
                     <!-- Twitter -->
                    <a href="http://twitter.com/home?status=Check out: '{{ page.title }}: {{ page.subtitle }}' @ {{ page.url | prepend: site.url }} %23dreamcatcher95" title="Share on Twitter" target="_blank" class="btn btn-twitter btn-default" style="margin-top:3px;"><i class="fa fa-twitter"></i> Twitter</a>
                     <!-- Facebook -->
                    <a href="http://www.facebook.com/sharer.php?s=100&p[url]={{ page.url | prepend: site.url }}&p[images][0]={{page.header-img}}&p[title]={{page.title}}&p[summary]={{page.subtitle}}" title="Share on Facebook" target="_blank" class="btn btn-facebook btn-default" style="margin-top:3px;"><i class="fa fa-facebook"></i> Facebook</a>
                    <!-- Google+ -->
                    <a href="https://plus.google.com/share?url={{page.url | prepend: site.url}}" title="Share on Google+" target="_blank" class="btn btn-googleplus btn-default" style="margin-top:3px;"><i class="fa fa-google-plus"></i> Google+</a>
                    <!-- StumbleUpon -->
                    <a href="http://www.stumbleupon.com/badge?url={{ page.url | prepend: site.url }}&title={{ page.title }}&nsfw=0" title="Share on StumbleUpon" target="_blank" data-placement="top" class="btn btn-stumbleupon btn-default" style="margin-top:3px;"><i class="fa fa-stumbleupon"></i> Stumbleupon</a>
                    <!-- LinkedIn -->
			<a href="http://www.linkedin.com/shareArticle?url={{page.url |prepend:site.url}}&title={{page.title}}: {{page.subtitle}}" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin btn-default" style="margin-top:3px;"><i class="fa fa-linkedin"></i> LinkedIn</a>
                    <!-- Tumblr -->
			<a href="http://www.tumblr.com/share/link?url={{ page.url | prepend: site.url }}&name={{page.title}}&description={{page.subtitle}}" title="Share on Tumblr" target="_blank" class="btn btn-tumblr btn-default" style="margin-top:3px;"><i class="fa fa-tumblr"></i> Tumblr</a>
                    <!-- Pinterest -->
			<a href="https://pinterest.com/pin/create/bookmarklet/?media={{page.header-img | prepend: site.url}}&url={{ page.url | prepend: site.url }}&description={{page.title}}: {{page.subtitle}}" title="Share on Pinterest" target="_blank" class="btn btn-pinterest btn-default" style="margin-top:3px;"><i class="fa fa-pinterest"></i> Pinterest</a>
                </div>
                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>


<div id="disqus_thread" style="width:80%; margin:auto;"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'dreamcatcher95';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
